@import "variables";
#glyphicon_set_size(@size){
  font-size: @size;
}
body {
  background: @body-bg;
}
.navbar-brand{
  font-size: 4em;
}
.image-upload{
  margin: 0.8%;
}
#reports-container{

  hr{
    margin: 0.2%;
  };
  ul{
    display: block;
    font-size: 1.2em;
    li{
      list-style-type: none;
      div{
        float: left;
      }
      div.time-icon{
        width: 20%;
      };
      div.report-headline {
        width: 80%;
      };
    }
  }
}
li{
  a{
   font-size:  1.5em;
  }
}

#inputFileToLoad{
  width: 0;
  height: 0;
}
