<div class="modal-header">
  <section id="How-to">
  <div class="section-title">
      <h2>
             <span>
               How to prepare image for the procedure
             </span>
      </h2>
    </div>
  </section>
</div>
<div  class="modal-body">
  <section id="How-to">
     <div class="howto-text-block">
       <div class="howto--inner-text-block">
         <p>
           Before starting the procedure, please mark all points as shown in the image.
           It is important that you respect the order of the points and try to be as precise as possible.
           You must target the tip of the <b>shoulders, the base of the neck, the nipples and  the knee  joints<b>.

           If the points are displaced teh result will be irelevant.
         </p>
       </div>
     </div>
 </section>

</div>
<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>

