<div class="modal-header">
  <h3>Please mark corresponding body points as presented in the model</h3>
</div>
<div id="modal-body" class="modal-body">
  <section id="How-to">
     <div class="howto-text-block">
       <div class="howto--inner-text-block">
         <div class="section-title">
           <h2>
             <span>
               How to do THE SHIT
             </span>
           </h2>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat lectus eu tristique congue. Ut vel neque sed enim lacinia molestie quis id tortor. Proin lobortis ante leo, id condimentum lorem consectetur non. Aliquam facilisis vitae arcu eu tincidunt. Curabitur ac sollicitudin enim, sit amet feugiat turpis. Quisque vel ultricies diam. Suspendisse faucibus, velit vitae fringilla hendrerit, libero justo sagittis metus, non luctus magna lorem eu lectus. Nullam auctor vestibulum lorem non ornare. Vivamus laoreet enim eget est suscipit, sed commodo erat sodales. In laoreet ac massa quis feugiat. Pellentesque lobortis dolor non faucibus luctus. Aenean eget purus arcu. Phasellus turpis massa, tempus sed tortor vel, rutrum consequat purus. Quisque bibendum sapien turpis, vitae sodales erat finibus vel. Suspendisse pretium diam et sodales maximus.</p>
       </div>
     </div>

 </section>

</div>
<div class="modal-footer">
 <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>

