<div class="modal-header">
  <section>
    <h4>Please mark corresponding body points as presented in the model</h4>
  </section>
</div>
<div id="modal-body" class="modal-body">
  <img id="reference_model" src="../images/12959478_748584691942629_414558717_o.png">
  <canvas height="700px" width="400px" id="current_image"  ></canvas>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

