<div id="wrapper">
  <header >
    <div id="top-bar">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><a  href ng-click="registerStart()" ></span>{{topBarText1}}</a></li>
            <li><a href ng-click="sessionOperation()"  ><span class="glyphicon glyphicon-log-in"></span>{{topBarText2}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main-nav">
      <div class="navbar navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">PostFIX</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" ng-click=""></span>Home</a></li>
              <li><a href="#discalimer-section" du-smooth-scroll du-scrollspy></span>Disclaimer</a></li>
              <li><a href="#raports-section"  du-smooth-scroll du-scrollspy ></span>Patient Reports</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="main-content">
    <div id="carousel-slideshow">
      <div ng-controller="CarouselCtrl">
        <uib-carousel ng-class="" active="active" interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" >
            <img ng-src="{{slide.image}}" >
            <div class="carousel-content">
              <h1>{{slide.htext}}</h1>
              <p>{{slide.ptext}}</p>
              <form class="input-group" id="image-form">
                <span class="input-group-btn" >
                 <span href class="btn btn-primary btn-file"  >
                   Submit Image <input type="file" onchange="angular.element(this).scope().loadImage()" id="inputFileToLoad" >
                 </span>
                </span>
              </form>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </section>

  <section name="discalimer-section" id="disclaimer">
    <div class="about-content">
      <div class="section-title">
        <h2>
          <span>
            Disclaimer
          </span>
        </h2>
      </div>
     <p>Llacinia molestie quis id tortor. Proin lobortis ante leo, id condimentum lorem consectetur non. Aliquam facilisis vitae arcu eu tincidunt. Curabitur ac sollicitudin enim, sit amet feugiat turpis. Quisque vel ultricies diam. Suspendisse faucibus, velit vitae fringilla hendrerit, libero justo sagittis metus, non luctus magna lorem eu lectus. Nullam auctor vestibulum lorem non ornare. Vivamus laoreet enim eget est suscipit, sed commodo erat sodales. In laoreet ac massa quis feugiat. Pellentesque lobortis dolor non faucibus luctus. Aenean eget purus arcu. Phasellus turpis massa, tempus sed tortor vel, rutrum consequat purus. Quisque bibendum sapien turpis, vitae sodales erat finibus vel. Suspendisse pretium diam et sodales maximus.</p>
    </div>
  </section>

  <!--section id="How-to">
    <div class="howto-content">
      <div class="howto-text-block">
        <div class="howto--inner-text-block">
          <div class="section-title">
            <h2>
              <span>
                How to do THE SHIT
              </span>
            </h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat lectus eu tristique congue. Ut vel neque sed enim lacinia molestie quis id tortor. Proin lobortis ante leo, id condimentum lorem consectetur non. Aliquam facilisis vitae arcu eu tincidunt. Curabitur ac sollicitudin enim, sit amet feugiat turpis. Quisque vel ultricies diam. Suspendisse faucibus, velit vitae fringilla hendrerit, libero justo sagittis metus, non luctus magna lorem eu lectus. Nullam auctor vestibulum lorem non ornare. Vivamus laoreet enim eget est suscipit, sed commodo erat sodales. In laoreet ac massa quis feugiat. Pellentesque lobortis dolor non faucibus luctus. Aenean eget purus arcu. Phasellus turpis massa, tempus sed tortor vel, rutrum consequat purus. Quisque bibendum sapien turpis, vitae sodales erat finibus vel. Suspendisse pretium diam et sodales maximus.</p>
        </div>
      </div>
    </div>
  </section>

  <!--------------------------Patient Reports --------------------------->

  <section name="raports-section" id="patient-reports">
    <div class="reports-content">
      <div class="section-title">
        <h2>
          Patient Reports
        </h2>
      </div>

      <div class="reports-wrapper">
        <div class="container-fluid">
          <div class="row" >
            <div class=" col-lg-4" ng-repeat="raport in reports">
              <div class="report-header">
                <div class="report-title">
                 <h4>{{raport.title}}</h4>
                 <h5>{{raport.recommendation}}</h5>
                </div>
                  <div class="report-date">
                    <span>Date: 09/11/2014</span>
                  </div>
              </div>
              <div class="report-content">
                <p>
                 {{raport.content}}
                </p>
              </div>
          </div>

            <!--div class=" col-lg-4" >
              <div class="report-header">
               <div class="report-title">
                  <h4>Kyphosis</h4>
                  <h5>An appointment to your doctor is required!</h5>
                </di v>
                <div class="report-date">
                  <span>Date: 09/11/2014</span>
                </div>
              </div>
              <div class="report-content">
                <p>
                  The normal spine, when viewed from the side, is not a straight line as it is when viewed from the front or back.
                  In addition to an abnormally curved spine, kyphosis can also cause back pain and stiffness in some people.
                   You should go to a clinic. Your doctor will check your height and may ask you to bend forward from the waist while he or she views the spine from the side.
                  With kyphosis, the rounding of the upper back may become more obvious in this position. Your doctor might also perform a neurological exam to check your reflexes and muscle strenght.
                  Kyphosis treatment depends on the cause of the condition and the signs and symptoms that are present.
                </p>
              </div>
            </div>

            <div class=" col-lg-4">
              <div class="report-header">
                <div class="report-title">
                  <h4>Kyphosis</h4>
                  <h5>Postural Kyphosis</h5>
                </div>
                <div class="report-date">
                  <span>Date: 02/05/2015</span>
                </div>
              </div>
              <div class="report-content">
                <p>Therapy:</p>
                <p>
                  Exercises. Stretching exercises can improve spinal flexibility and relieve back pain. Exercises that strengthen the abdominal muscles may help improve posture.
                  </p>
                <p>
                  Healthy lifestyle. Maintaining a healthy body weight and regular physical activity will help prevent back pain and relieve back symptoms from kyphosis.
                  </p>
                <p>Maintaining good bone density. Proper diet with calcium and vitamin D and screening for low bone density, particularly if there is a family history of osteoporosis or history of previous fracture, may help older adults avoid weak bones, compression fractures and subsequent kyphosis.</p>
              </div>
            </div>

            <div class=" col-lg-4">
              <div class="report-header">
                <div class="report-title">
                  <h4>GG man!</h4>
                  <h5>Nu mai esti urat si frustrat</h5>
                </div>
                <div class="report-date">
                  <span>Date: 06/03/2016</span>
                </div>
              </div>
              <div class="report-content">
                <p>
                  Curabitur efficitur, mauris in convallis laoreet, odio erat tempor leo, at faucibus ante lectus sed mi. </p>
              </div>
            </div-->

          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <a>Licentuca</a>
        </div>
        <div class="col-md-2">
          <a>Bodan Bodan Bodan</a>
        </div>
      </div>
    </div>
  </footer>
</div>




  <!--<div class="well" id="user-info" >
     <h3>{{user.name}}
       <button class="btn btn-default btn-xs">Editare</button>
     </h3>

     <div>Age:{{user.age}}</div>
     <div>Gender: M </div>
     <div>Weight: 70 kg</div>
     <div>Height: 1.71 cm</div>
   </div>

   <div class="container-fluid" id="reports-container">



     <hr>

     <ul >
       <li ng-repeat="report in reports" ng-click="toggleReport($index)">
         <div class="time-icon">
           <span>{{report.timestamp.getDate()}}/{{report.timestamp.getMonth()}}/{{report.timestamp.getFullYear()}}</span>
         </div>
         <div class="report-headline">raport will be here</div>
       </li>
     </ul>

     <!--table class="table table-striped table-hover ">
       <thead>
       <tr>
         <th>#</th>
         <th>Data</th>
         <th>Recomandare</th>
       </tr>
       </thead>
       <tbody>
       <tr ng-repeat="report in reports" ng-click="toggleReport($index)">
         <td>{{report.id}}</td>
         <td>{{report.timestamp}}</td>
         <td>{{report.recommendation}}</td>
       </tr>
       </tbody>
     </table>
     <div class="well" ng-show="selectedReport !== -1">
       {{reports[selectedReport].result}}
     </div>
   </div>
   <!--div class="well" id="testing-zone" style="width: 80%">

   </div-->
